.menu{
    height: 5.4vw; 
    color: #e1d9d1;
    display: flex; 
    align-items: center;
    padding: 0 2vw; 
    font-size: 1vw; gap: 2vw;
}
.menu-first-div{
    flex: 1; 
    text-align: left; 
    font-size: 1.4vw; 
    font-family: 'Roboto-med';
}
.menu-first-div span:first-child{
    white-space: nowrap;
}
.menu-first-div span:nth-child(3) {
    margin-left: 8vw;
}

.menu .menu-second-div{
    flex: 1; 
    display: flex; 
    justify-content: center; 
    font-size: 1.4vw; 
    font-family: 'Roboto'; 
    padding: 0 1vw;
}

.menu-second-div a{
    flex: 1; 
    display: flex; 
    justify-content: center; 
    font-size: 1.4vw; 
    font-family: 'Roboto'; 
    padding: 0 1vw;
}

.menu-third-div{
    flex: 3; 
    text-align: right; 
    font-size: 1.3vw;
}
.menu-third-div img{
    vertical-align: middle; 
    width: auto; 
    height: 2.3vw; 
    display: inline-block;
}


/* КОНЕЦ МЕНЮ */




.first-block{
    background-image: url('img/img/fon.webp'); 
    height: 60vw; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}
.first-block-text{
    margin-left: 12vw; 
    margin-top: 8.7vw;
}

.first-block h1{
    margin-bottom: 1vw; 
    margin-top: 1vw;  
    font-size: 3vw; 
    font-family: 'traj';
}
.first-block-text p:nth-of-type(1){
    font-size: 1.8vw; 
    margin-top: 1vw; 
    font-family: 'Roboto-med';}

.first-block-text p:nth-of-type(2){
    font-family: 'Roboto'; 
    font-size: 1.8vw;  
    margin-top:0.1vw
}
.first-block-text a{
    display: inline-block;          
    width: 24.2vw;
    height: 6.3vw; 
    font-size: 2vw;
    text-align: center;             
    line-height: 6.3vw;             
    text-decoration: none;  
}
.first-block-text a:nth-of-type(1)
{margin-top: 0.8vw;}
.first-block-text a:nth-of-type(2)
{margin-left: 1.8vw;}
.table-first-parent {
    overflow: hidden; 
    background-color: #e1d9d1; 
    height: 9vw; 
    width: 75%; 
    border-radius: 0.6vw; 
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 2vw auto 4.3vw
}
.table-first{
    border: 0.3vw dashed #614537; 
    border-color: #614537; 
    border-radius: 0.5vw; 
    border-collapse: separate; 
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    
    margin-top: 0.5vw; 
    height: 85%; 
    width: 98%;
}
.table-first-parent td{
    text-align: center; 
    font-size: 1.3vw;
}

.table-first-parent td:nth-child(odd){
    font-size: 3.8vw;
    font-family: "Roboto";
}

.table-first td:nth-child(odd) {
    color: #614537;
}


/* конец первого блока */

.second-block{
    background-color: #614537;
    height: 44vw ;
    color: #e4e0df; 
    line-height: 2vw;
    text-align: center;
}
.second-block h1{
    margin: 0vw 0vw 0.62vw;

}


.second-block table{
    margin: auto;
    border-spacing: 6vw 0vw; 
    border-collapse: separate;
}
.second-block table td{
    padding: 1vw;
    white-space: nowrap;
    
}
.second-block table img{
    width: 36vw; 
    height: 26vw; 
}
.second-block table ul{
    font-size: 1.9vw;
    
}

.second-block ul{
    padding-left: 0vw;
    margin-left: 0vw;   
    text-align: left; 
}
.second-block ul li{
margin: 2.7vw 0vw;
padding: 0vw;
}



/* конец второго блока */


.our_works{
    height: 89vw; 
    display: flex; 
    flex-direction: column; 
    align-items: center;  
    margin-bottom: 100px;
}
.our_works p{
    font-size: 2.4vw;
    font-family: 'roboto';
}

.brown_line{
    
}

.background_white-gray{
    background-color: #e4e0df;
}
.background_brown{
    background-color: #614537;
}

/*Почему именно мы */
#table-why-we{
    width: 90%;
}

#table-why-we td {
    text-align: left;
    font-size: 1.2vw;
}
#table-why-we td img {
    width: 10vw;    
    height:  9vw;
    
}
#table-why-we tr:nth-of-type(2){
    font-family: 'Roboto-med';
}
#table-why-we tr:nth-of-type(3) div{
    background-color: #614537;  
    height: 0.2vw; 
    width: 7vw;

}
#table-why-we tr:nth-of-type(4){
    font-family: 'Roboto';
}

#list-why-we{
    display: flex;
    align-items: center;
    gap: 2vw; /* Отступы между элементами списка */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы у списка */
}

#list-why-we li:first-child  div{
    /* Стили для первого элемента */
    background-color: #614537;  height: 0.2vw; width: 16vw;}

#list-why-we h2{
    font-size: 3vw;
}

#list-why-we li:last-child  div{
    /* Стили для первого элемента */
    background-color: #614537;  height: 0.2vw; width: 16vw;}

#table-why-me{
    margin-bottom: 100px;
}

li{
    list-style-type: none;
    padding-top: 1.6vw;
    padding-left: 2vw;

    
}



/* конец почему мы */


.material_using{
    margin-bottom: 28vw;
}

.slide{
    width: 50%; font-size: 3vw;
}
.slide ul{
    display: flex;  
    justify-content: center;  
    font-family: 'Roboto'; 
    font-size: 3vw;
}
.slide ul li{
    margin: 0 4vw;
}

.carousel-title{
    font-family: 'Roboto-med';
    font-size: 2vw;
}
#carousel-description{
    font-size: 2.2vw; 
    font-family: 'Roboto';
}


.carousel-caption{
    color: black; 
    position: absolute; 
    bottom: -5vw; 
    left: 0; 
    right: 0; 
    top: 43vw;
}
.carousel-control-prev{
    left: -7vw;
}
.carousel-control-next{
    right: -7vw;
    
}

/* our materials */
.price{
    height: 35vw; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.price p{
    font-size: 4.6vw; 
    margin-bottom: 2vw; 
    text-align: center;
    font-family: 'Traj';
    margin-top: 1vw;
}

.container2 {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 5.5vw; 
    display: flex; 
    justify-content: space-around; 
    width: 100%;
}
.container2 table{
    border-collapse: collapse; font-size: 1.3vw;
}

.container2 table th{
    text-align: center;
}
.container2 table tr{
    text-align: center;
}
.container2 table tr td:nth-of-type(1){
    border-right: 0.1vw solid white; 
    border-bottom: 0.1vw solid white;
}
.container2 {
    width: 100%; 
    border-collapse: collapse; 
    color: white; 
    font-size: 1.2vw; 
}

.container2 th {
    padding: 1vw;
    text-align: center;
}

.container2 td {
    padding: 0.8vw;
    text-align: left;
    border-right: 0.1vw solid white;
    border-bottom: 0.1vw solid white;
}

.container2 tr:last-child td {
    border-bottom: none;
}

.container2 td:last-child {
    text-align: right;
}



/* конец прайса */

.reviews{
    background-color: #e4e0df; 
    height: 120vw ; 
    position: relative;
}
.reviews h1{
    font-size: 4.6vw;
    font-family: 'traj';
    
    
}
.image-container{
    position:relative;
    width:23vw;
    height:16vw;
    transform-style: preserve-3d;
    transform: perspective(100vw) rotateY(0deg);
    transition: transform 0.7s;
    margin-top: 15vw;
    
    }
.image-container span{
position:absolute;
top:0;
left:0;
width:23vw;
transform: rotateY(calc(var(--i) * 45deg)) translateZ(33vw);
}
.image-container span img{
position:absolute;
left:0;
top:0;
width:100%;
border-radius: 0.5vw;
border: 0.2vw solid #614537;
}

.btn-container{
    position:relative;
    width:80%;
    }

.btn{
position: absolute;
bottom:-8vw;
background-color: #614537;
color:white;
padding:1vw 2vw;
border-radius: 0.5vw;
border:none;
cursor: pointer;
height: 4vw;
width: 6vw;
font-size: 1.4vw;
}
.btn:hover{
filter:brightness(1.5);
}
.parent-div-form{
    margin-top: 25vw;
    height: 40vw;
    margin-bottom: 4vw;
    border: 0.2vw solid #614537;
    width: 62%;
    background-color: #e1d9d1;
    box-shadow: -0.08192vw -0.05736vw 2.1vw #614537;
    overflow: hidden; 
}
.parent-div-form p{
    font-size: 2.4vw;
    font-family: 'traj';
    margin-bottom: 0px;
}
.parent-div-form span{
    margin-bottom: 2vw;
    font-size: 1.5vw;
}
.parent-div-form table{
    width: 80%; 
    height: 2vw; 
    font-size: 1.5vw; 
}

.parent-div-form table td{
    width: 50%;
}
.parent-div-form table td form{
    text-align: left; 
}
.form-group{
    margin: 0.1vw; padding: 0.1vw; 
}

.form-group label{
    margin: 0.1vw; padding: 0.1vw;
}
.form-group input{
    font-size: 1.5vw; 
    background-color: #e1d9d1; 
    border: none; 
    margin: 0.1vw; 
    padding: 0.1vw;}
.form-group textarea{
    margin: 0.1vw; 
    padding: 0.1vw; 
    border: 0.2vw solid #614537; 
    background-color: #e4e0df; 
    font-size: 1.3vw;
}
.form-group button{
    width: 100%; 
    height: 3.4vw; 
    border-radius: 0.5vw;
}

/* конец формы */



.footer{
    height: 12vw; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.footer div:nth-of-type(1){
    margin-top: 0.6vw;
    text-align: center; 
    padding: 1vw 0;
    font-size: 1.2vw;
}
.footer div:nth-of-type(2){
    margin-bottom: 1vw; 
    margin-top: 0vw; 
    font-size: 1.2vw;
    
}
.footer-text{
    margin-bottom: 1vw;
    font-size: 1.2vw;
}
.footer-text img{
    vertical-align: middle; 
    width: auto;
    height: 2.3vw; 
    display: inline-block;
}


/* footer */


th, td {
text-align: center; 
vertical-align: middle; 
padding: 1vw; 
}

.button{
    color: #e1d9d1;
    width: 22vw; 
    height: 5vw; 
    background-color: #614537;
    border-radius: 1vw;
}
.button:hover{
    border: 0.2 solid transparent black; 

    color: #614537;
    background-color: #e1d9d1;
    transition: background-color 0.3s ease, font-size 0.3s ease; /* Плавный переход */
}



body{
    background-color: #e4e0df;
    font-family: "Roboto-med";
}

.carousel-description{
    font-size: 2vw;
}



.btn-brown{
    background-color: #614537;
    color:white;
}
.btn-brown:hover{
    filter:brightness(1.5);

}

#prev{
left:20%;
}
#next{
right:20%;
}


table {
    width: 40vw;
    border-collapse: collapse; /* Убираем двойные границы */
    margin-right: 6vw; /* Отступ между таблицами */
    margin-left: 6vw;
}
td {
    
    padding: 0.1vw; 
}


textarea::placeholder {
    white-space: pre-line; /* Позволяет перенос строк */
    content: "Звонить после 17.\nХочу перетянуть диван"; /* Эмуляция многострочности */
}

#carouselExampleControls2 {
    width: 70%; /* Ширина карусели */
    margin: auto; /* Центрируем карусель */
    
}
#carouselExampleControls2 .carousel-item img {
    width: 100%; /* Ширина изображения 100% от родительского элемента */
    height: 300px; /* Фиксированная высота изображений */
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
}
.brown-line{
    background-color: #614537;
    height: 0.2vw;
}






.btn-get-consult{
    background-image: url('img/icons/стрелка_верх.png'); /* Путь к изображению */
    background-size: cover; /* Растягиваем изображение на всю кнопку */
    background-repeat: no-repeat; /* Не повторяем изображение */
    border: none; /* Убираем рамку */
    height: 8vw; /* Высота кнопки */
    width: 8vw; /* Ширина кнопки */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 20vw; /* Отступ от нижней границы */
    right: 5vw; /* Отступ от правой границы */
    cursor: pointer; /* Курсор при наведении */
    transition: opacity 0.3s; /* Плавный переход */
    background-color: rgba(255, 255, 255, 0);
}


.zagolovok{
    font-size: 3vw ;
    font-family: "Traj";
    line-height: 3.5vw;
    margin-top: 2vw;
}







@font-face {
    font-family: "Traj";
    src: url("font/TRAJ_REGULAR.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO-ITALIC";
    src: url("font/ROBOTO-ITALIC.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO";
    src: url("font/ROBOTO.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO-med";
    src: url("font/RobotoMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.Roboto-med{
    font-family: "ROBOTO-med";
}
.Roboto-ital{
    font-family: "ROBOTO-ITALIC";
}
.Roboto{
    font-family: "ROBOTO";
}
.font-traj{
 
    font-family: "Traj";
}

@media screen and (min-width: 1441px) {
    /* десктоп */
  
    .image-container {
    position: relative;
    width: 14.72vw; /* Уменьшено на 20% от 18.4vw */
    height: 10.24vw; /* Уменьшено на 20% от 12.8vw */
    transform-style: preserve-3d;
    transform: perspective(64vw) rotateY(0deg); /* Уменьшена перспектива */
    transition: transform 0.7s;
    margin-top: 9.6vw; /* Уменьшен отступ на 20% */
}

.image-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 14.72vw; /* Уменьшено на 20% от 18.4vw */
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(22.4vw); /* Уменьшено значение translateZ на 20% */
}
.btn-get-consult{
    margin-bottom: 10vw;
}
}

@media screen and (max-width: 1440px) {
    /* десктоп */
  
    .parent-div-form table img {
        margin-bottom: 1vw;
        width: 23vw; position: absolute; bottom: 19vw; left :22vw;
    }

    .btn-get-consult{
        margin-bottom: 1vw;
    }

   
}

@media screen and (max-width: 1024px) {
    /* планшеты */
    .first-block-text p:nth-of-type(1){
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 1px;
    }
    .first-block-text p:nth-of-type(2){
        margin-bottom: 1px;
        margin-top: 1px;
    }
  
    .Reviews h1{
        margin-top: 20vw;
    }
}

@media screen and (max-width: 600px) {
    /* смартфоны */
  
    .parent-div-form table img {
        margin-bottom: 0vw;
    }
    .carousel ul {
        padding-left: 0.1vw;
        }
}
@media screen and (max-width: 450px) {
    .parent-div-form table img {
        margin-bottom: -5vw;
    }
}