.menu{
    height: 5.4vw; 
    color: #e1d9d1;
    display: flex; 
    align-items: center;
    padding: 0 2vw; 
    font-size: 1vw; gap: 2vw;
}
.menu-first-div{
    flex: 1; 
    text-align: left; 
    font-size: 1.4vw; 
    font-family: 'Roboto-med';
}
.menu-first-div span:first-child{
    white-space: nowrap;
}
.menu-first-div span:nth-child(3) {
    margin-left: 8vw;
}

.menu .menu-second-div{
    flex: 1; 
    display: flex; 
    justify-content: center; 
    font-size: 1.4vw; 
    font-family: 'Roboto'; 
    padding: 0 1vw;
}

.menu-second-div a{
    flex: 1; 
    display: flex; 
    justify-content: center; 
    font-size: 1.4vw; 
    font-family: 'Roboto'; 
    padding: 0 1vw;
}

.menu-third-div{
    flex: 3; 
    text-align: right; 
    font-size: 1.3vw;
}
.menu-third-div img{
    vertical-align: middle; 
    width: auto; 
    height: 2.3vw; 
    display: inline-block;
}


/* КОНЕЦ МЕНЮ */

.first-block{
    background-image: url('img/img/fon.jpg'); 
   
    height: 60vw; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}


.table-first-parent{
    overflow: hidden; 
    margin-bottom: 4.3vw; 
    background-color: #e1d9d1; 
    height: 9vw; 
    width: 75%; 
    border-radius: 0.6vw; 
    margin-top: 2vw; 

}



.parent-div-form{
    margin-top: 25vw;
    height: 40vw;
    margin-bottom: 4vw;
    border: 0.2vw solid #614537;
    width: 62%;
    background-color: #e1d9d1;
    box-shadow: -0.08192vw -0.05736vw 2.1vw #614537;
    overflow: hidden; 
}

.table-first{
    border: 0.3vw dashed #614537; 
    border-color: #614537; 
    border-radius: 0.5vw; 
    border-collapse: separate; 
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    
    margin-top: 0.5vw; 
    height: 85%; 
    width: 98%;
}


.table-first td:nth-child(odd) {
    color: #614537;
}

.second-block{
    background-color: #614537;
    height: 50vw ;color: #e4e0df; line-height: 2vw;
}

.background_brown{
    background-color: #614537;
}
.background_white-gray{
    background-color: #e4e0df;
}

li{
    list-style-type: none;
    padding-top: 1.6vw;
    padding-left: 2vw;

    
}
ul{
    padding-left: 0;
    padding-left: 0;  
    margin-left: 0;   
    text-align: left; 
}

th, td {
text-align: center; /* Горизонтальное центрирование текста */
vertical-align: middle; /* Вертикальное центрирование текста */
padding: 1vw; /* Отступы внутри ячеек */
}

.buttom{
    color: #e1d9d1;
    width: 22vw; 
    height: 5vw; 
    background-color: #614537;
    border-radius: 1vw;
}
.buttom:hover{
    border: 0.2 solid transparent black; 

    color: #614537;
    background-color: #e1d9d1;
    transition: background-color 0.3s ease, font-size 0.3s ease; /* Плавный переход */
}



body{
    background-color: #e4e0df;
    font-family: "Roboto-med";
}

.carousel-description{
    font-size: 2vw;
}

.image-container{
    position:relative;
    width:23vw;
    height:16vw;
    transform-style: preserve-3d;
    transform: perspective(100vw) rotateY(0deg);
    transition: transform 0.7s;
    
    }
.image-container span{
position:absolute;
top:0;
left:0;
width:23vw;
transform: rotateY(calc(var(--i) * 45deg)) translateZ(33vw);
}
.image-container span img{
position:absolute;
left:0;
top:0;
width:100%;
border-radius: 0.5vw;
border: 0.2vw solid #614537;
}

.btn-container{
position:relative;
width:80%;
}
.btn-brown{
    background-color: #614537;
    color:white;
}
.btn-brown:hover{
    filter:brightness(1.5);

}
.btn{
position: absolute;
bottom:-8vw;
background-color: #614537;
color:white;
padding:1vw 2vw;
border-radius: 0.5vw;
border:none;
cursor: pointer;
height: 4vw;
width: 6vw;
font-size: 1.4vw;
}
.btn:hover{
filter:brightness(1.5);
}
#prev{
left:20%;
}
#next{
right:20%;
}

.container2 {
    display: flex; /* Используем flexbox */
    justify-content: space-between; /* Распределяем пространство между таблицами */
}
table {
    width: 40vw;
    border-collapse: collapse; /* Убираем двойные границы */
    margin-right: 6vw; /* Отступ между таблицами */
    margin-left: 6vw;
}
td {
    
    padding: 0.1vw; 
}


textarea::placeholder {
    white-space: pre-line; /* Позволяет перенос строк */
    content: "Звонить после 17.\nХочу перетянуть диван"; /* Эмуляция многострочности */
}

#carouselExampleControls2 {
    width: 70%; /* Ширина карусели */
    margin: auto; /* Центрируем карусель */
    
}
#carouselExampleControls2 .carousel-item img {
    width: 100%; /* Ширина изображения 100% от родительского элемента */
    height: 300px; /* Фиксированная высота изображений */
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
}
.brown-line{
    background-color: #614537;
    height: 0.2vw;
}

/*Почему именно мы */
#table-why-we td {
    text-align: left;
    font-size: 1.2vw;
    
}

#table-why-me{
    margin-bottom: 100px;
}
#list-why-we{
    display: flex;
    align-items: center;
    gap: 2vw; /* Отступы между элементами списка */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы у списка */
}
.btn-get-consult{
    background-image: url('img/icons/стрелка_верх.png'); /* Путь к изображению */
    background-size: cover; /* Растягиваем изображение на всю кнопку */
    background-repeat: no-repeat; /* Не повторяем изображение */
    border: none; /* Убираем рамку */
    height: 8vw; /* Высота кнопки */
    width: 8vw; /* Ширина кнопки */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 20vw; /* Отступ от нижней границы */
    right: 5vw; /* Отступ от правой границы */
    cursor: pointer; /* Курсор при наведении */
    transition: opacity 0.3s; /* Плавный переход */
    background-color: rgba(255, 255, 255, 0);
}


.zagolovok{
    font-size: 3vw ;
    font-family: "Traj";
    line-height: 3.5vw;
    margin-top: 2vw;
}







@font-face {
    font-family: "Traj";
    src: url("font/TRAJ_REGULAR.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO-ITALIC";
    src: url("font/ROBOTO-ITALIC.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO";
    src: url("font/ROBOTO.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO-med";
    src: url("font/RobotoMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.Roboto-med{
    font-family: "ROBOTO-med";
}
.Roboto-ital{
    font-family: "ROBOTO-ITALIC";
}
.Roboto{
    font-family: "ROBOTO";
}
.font-traj{
    font-family: "Traj";
}