
.first-block{
    background-image: url('img/img/fon.jpg'); 
   
    height: 69.5vw; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.table-first-parent{
    overflow: hidden; 
    margin-bottom: 46px; 
    background-color: #e1d9d1; 
    height: 10.52vw; 
    width: 75%; 
    border-radius: 6px; 
    margin-top: 20px; 
}

.table-first{
    border: 3px dashed #614537; 
    border-color: #614537; 
    border-radius: 5px; 
    border-collapse: separate; 
    margin-left: 5px;
    margin-right: 5px;
    
    margin-top: 10px; 
    height: 85%; 
    width: 98%;
}

.table-first td:nth-child(odd) {
    color: #614537;
}

.background_brown{
    background-color: #614537;
}
.background_white-gray{
    background-color: #e4e0df;
}

li{
    list-style-type: none;
    padding-top: 30px;
    padding-left: 0;

    
}
ul{
    padding-left: 0;
    padding-left: 0;  
    margin-left: 0;   
    text-align: left; 
}

th, td {
text-align: center; /* Горизонтальное центрирование текста */
vertical-align: middle; /* Вертикальное центрирование текста */
padding: 10px; /* Отступы внутри ячеек */
}

.buttom{
    color: #e1d9d1;
    width: 22vw; 
    height: 5vw; 
    background-color: #614537;
    border-radius: 10px;
}
.buttom:hover{
    border: 2px solid transparent black; 

    color: #614537;
    background-color: #e1d9d1;
    transition: background-color 0.3s ease, font-size 0.3s ease; /* Плавный переход */
}



body{
    background-color: #e4e0df;
    font-family: "Roboto-med";
}
.menuItem .menu {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    padding: 0 0 15px;
    margin-bottom: 20px;
    display: inline-block;
    color: #10cdff;
    }
    .menuItem .menu li {
    padding: 16px 30px 0px;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    float: left;
    background: #ffffff;
    line-height: 30px;
    border-left: 2px solid #10cdff;
    border-radius: 0;
    }
    .menuItem .detail {
    font-size: 13px;
    color: #444;
    font-weight: normal;
    }
    .menuItem .price {
    font-size: 13px;
    float: right;
    font-weight: 600;
    }
    .menuItem .btn {
    text-align: center;
    color: #FFFFFF;
    background: #10cdff;
    border-color: #10cdff;
    width: 120px;
    border-radius: 0;
    }


.image-container{
    position:relative;
    width:300px;
    height:200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.7s;
    
    }
.image-container span{
position:absolute;
top:0;
left:0;
width:100%;
transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.image-container span img{
position:absolute;
left:0;
top:0;
width:100%;
border-radius: 5px;
border: 3px solid #614537;
}

.btn-container{
position:relative;
width:80%;
}
.btn-brown{
    background-color: #614537;
    color:white;
}
.btn-brown:hover{
    filter:brightness(1.5);

}
.btn{
position: absolute;
bottom:-80px;
background-color: #614537;
color:white;
padding:10px 20px;
border-radius: 5px;
border:none;
cursor: pointer;
}
.btn:hover{
filter:brightness(1.5);
}
#prev{
left:20%;
}
#next{
right:20%;
}

.container2 {
    display: flex; /* Используем flexbox */
    justify-content: space-between; /* Распределяем пространство между таблицами */
}
table {
    width: 400px;
    border-collapse: collapse; /* Убираем двойные границы */
    margin-right: 60px; /* Отступ между таблицами */
    margin-left: 60px;
}
td {
    
    padding: 1px; 
}


textarea::placeholder {
    white-space: pre-line; /* Позволяет перенос строк */
    content: "Звонить после 17.\nХочу перетянуть диван"; /* Эмуляция многострочности */
}

#carouselExampleControls2 {
    width: 70%; /* Ширина карусели */
    margin: auto; /* Центрируем карусель */
    
}
#carouselExampleControls2 .carousel-item img {
    width: 100%; /* Ширина изображения 100% от родительского элемента */
    height: 300px; /* Фиксированная высота изображений */
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
}
.brown-line{
    background-color: #614537;
    height: 2px;
}

/*Почему именно мы */
#table-why-we td {
    text-align: left;
    font-size: 1.2vw;
}
#list-why-we{
    display: flex;
    align-items: center;
    gap: 20px; /* Отступы между элементами списка */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы у списка */
}
.btn-get-consult{
    background-image: url('img/icons/стрелка_верх.png'); /* Путь к изображению */
    background-size: cover; /* Растягиваем изображение на всю кнопку */
    background-repeat: no-repeat; /* Не повторяем изображение */
    border: none; /* Убираем рамку */
    height: 100px; /* Высота кнопки */
    width: 100px; /* Ширина кнопки */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 50px; /* Отступ от нижней границы */
    right: 50px; /* Отступ от правой границы */
    cursor: pointer; /* Курсор при наведении */
    transition: opacity 0.3s; /* Плавный переход */
    background-color: rgba(255, 255, 255, 0);
}


.zagolovok{
    font-size: 30px ;
    font-family: "Traj";
}







@font-face {
    font-family: "Traj";
    src: url("font/TRAJ_REGULAR.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO-ITALIC";
    src: url("font/ROBOTO-ITALIC.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO";
    src: url("font/ROBOTO.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROBOTO-med";
    src: url("font/RobotoMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.Roboto-med{
    font-family: "ROBOTO-med";
}
.Roboto-ital{
    font-family: "ROBOTO-ITALIC";
}
.Roboto{
    font-family: "ROBOTO";
}
.font-traj{
    font-family: "Traj";
}